.white {
    color: white;
}
nav {
    position: relative;
}

.topright {
    right: 10%;
    position: absolute;
}

.center {
    margin: 0 45% 0 auto;
}

.navbar-brand {
    font-size: 32px;
    font-weight: bold;
}

.navbarcolor{
    background: #0062B1;
}