.body {
     
     width: 100%;
     height: 100%;
     margin: 0 auto 20px auto;
     padding: 0;
     position: relative;
     border:0;
     min-height: 650px;
 }
 
 .main-contact  {    
    max-width: 960px;
    min-height: 550px;
    border: 1px solid #dddddd;
    background: #ffffff;
    margin: 182px auto 0 auto;
    top: 80px;
}

.aboutme{
    color: #0062B1;
    font-size: 28px;
    height: 50px;
    padding-top: 30px;
    border-bottom: 2px solid #cccccc;
    max-width: 860px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.body-main{
    padding-left: 50px;
    padding-top: 20px;
    overflow: auto;
}

 p {
     padding: 25px;
     padding-top: 0px;
 }
 
 body {
     width: 100%;
     height: 100%;
     margin: 0;
     background: url('../images/background.png');
     background-repeat: repeat;
     background-size: auto;
 }
 
 footer {
    background: #666666;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    border-top: 7px solid #0062B1;
    z-index: 999;
}
 
 form {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: #777777;
 }
 
 input {
     margin: 10px auto;
     width:94%;
     height: 20px;
 
 }
 
 #message{
     height: 200px;
     resize: vertical;
     word-wrap: normal;
     width:94%;

 }
 
 .submit {
     background: #0062B1;
     color: white;
     height: 40px;
     width: 120px;
     text-align: center;
     font-size: 18px;
     font-family: Arial, Helvetica, sans-serif;
 }

 .copyright {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 0px;
}

@media screen and (max-width: 960px) {
    .body {
        width: 90%;
    }

    .aboutme {
        width: 90%; 
    }
}

@media screen and (max-width: 640px) {
    .main-contact {
        margin: 75px auto 0 auto;
    }

    footer {
        position: static;
    }
}




